<div class="align-items-center text-center mx-auto mt-5">
  <h1>Bienvenue sur The gossip Project</h1>
  <p>Pour visualiser les informations, merci de te connecter en ajoutant /welcome/ce_que_tu_veux</p>
  <%= link_to "Se connecter", '/welcome/test', class: 'btn btn-primary' %>
</div>
